body{
    margin: 0px;
}
h1{
    margin: 0px;
}
header{
    background-color: rgba(118, 201, 10, 0.842);
    display: flex;
    justify-content: space-between; /*Só funciona com display*/
    padding: 10px;
}

#box-categorias button{
    background-color: #48ff00;
    border: 0;
    color: #000000;
    padding: 10px 20px;
    border-radius: 5px;
}

#box-ordenar button{
    background-color: blue;
    border: 0;
    color: #000000;
    padding: 10px 20px;
    border-radius: 5px;
}
